<a href="https://colab.research.google.com/github/semishen/ML100Days/blob/master/Day_038_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [作業重點]
使用 Sklearn 中的線性迴歸模型，來訓練各種資料集，務必了解送進去模型訓練的**資料型態**為何，也請了解模型中各項參數的意義

## 作業
試著使用 sklearn datasets 的其他資料集 (wine, boston, ...)，來訓練自己的線性迴歸模型。

### HINT: 注意 label 的型態，確定資料集的目標是分類還是回歸，在使用正確的模型訓練！

In [2]:
import sklearn.datasets as dsets
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [14]:
boston = dsets.load_boston()
x = boston.data
y = boston.target

print('x shape: ', x.shape)
print('y shape: ', y.shape)

df = pd.DataFrame(x, columns=boston.feature_names)
df['PRICE'] = y
# df.head()

print(df.dtypes.value_counts())

x shape:  (506, 13)
y shape:  (506,)
float64    14
dtype: int64

In [18]:
df.corr()

             CRIM        ZN     INDUS  ...         B     LSTAT     PRICE
CRIM     1.000000 -0.200469  0.406583  ... -0.385064  0.455621 -0.388305
ZN      -0.200469  1.000000 -0.533828  ...  0.175520 -0.412995  0.360445
INDUS    0.406583 -0.533828  1.000000  ... -0.356977  0.603800 -0.483725
CHAS    -0.055892 -0.042697  0.062938  ...  0.048788 -0.053929  0.175260
NOX      0.420972 -0.516604  0.763651  ... -0.380051  0.590879 -0.427321
RM      -0.219247  0.311991 -0.391676  ...  0.128069 -0.613808  0.695360
AGE      0.352734 -0.569537  0.644779  ... -0.273534  0.602339 -0.376955
DIS     -0.379670  0.664408 -0.708027  ...  0.291512 -0.496996  0.249929
RAD      0.625505 -0.311948  0.595129  ... -0.444413  0.488676 -0.381626
TAX      0.582764 -0.314563  0.720760  ... -0.441808  0.543993 -0.468536
PTRATIO  0.289946 -0.391679  0.383248  ... -0.177383  0.374044 -0.507787
B       -0.385064  0.175520 -0.356977  ...  1.000000 -0.366087  0.333461
LSTAT    0.455621 -0.412995  0.603800  ... -0.366087  1.000000 -0.737663
PRICE   -0.388305  0.360445 -0.483725  ...  0.333461 -0.737663  1.000000

[14 rows x 14 columns]

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=4)
print('x_train shape: ', x_train.shape)
print('x_test shape: ', x_test.shape)
print('y_train shape: ', y_train.shape)
print('y_test shape: ', y_test.shape)

# use linear regression model
reg = LinearRegression().fit(x_train, y_train)

y_train_hat = reg.predict(x_train)
y_test_hat = reg.predict(x_test)

print('\ntrain')
print('MSE: ', mean_squared_error(y_train, y_train_hat))
print('R2 core: ', r2_score(y_train, y_train_hat)) 

print('\ntest')
print('MSE: ', mean_squared_error(y_test, y_test_hat))
print('R2 core: ', r2_score(y_test, y_test_hat))

x_train shape:  (404, 13)
x_test shape:  (102, 13)
y_train shape:  (404,)
y_test shape:  (102,)

train
MSE:  21.197139922226427
R2 core:  0.7415244219726307

test
MSE:  25.41958712682169
R2 core:  0.7263451459702527

In [17]:
reg.coef_

array([-1.15966452e-01,  4.71249231e-02,  8.25980146e-03,  3.23404531e+00,
       -1.66865890e+01,  3.88410651e+00, -1.08974442e-02, -1.54129540e+00,
        2.93208309e-01, -1.34059383e-02, -9.06296429e-01,  8.80823439e-03,
       -4.57723846e-01])

In [23]:
wine = dsets.load_wine()
x = wine.data
y = wine.target

print('x shape: ', x.shape)
print('y shape: ', y.shape)

df = pd.DataFrame(x, columns=wine.feature_names)
df['CLASS'] = y
df.head()

x shape:  (178, 13)
y shape:  (178,)

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  CLASS
0    14.23        1.71  2.43  ...                          3.92   1065.0      0
1    13.20        1.78  2.14  ...                          3.40   1050.0      0
2    13.16        2.36  2.67  ...                          3.17   1185.0      0
3    14.37        1.95  2.50  ...                          3.45   1480.0      0
4    13.24        2.59  2.87  ...                          2.93    735.0      0

[5 rows x 14 columns]

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=5)
print('x_train shape: ', x_train.shape)
print('x_test shape: ', x_test.shape)
print('y_train shape: ', y_train.shape)
# print('y_test shape: ', y_test.shape)

x_train shape:  (106, 13)
x_test shape:  (72, 13)
y_train shape:  (106,)
y_test shape:  (72,)

In [27]:
# use logistic regression model
logreg = LogisticRegression(multi_class='multinomial', solver='newton-cg').fit(x_train, y_train)

y_train_hat = logreg.predict(x_train)
y_test_hat = logreg.predict(x_test)

print('train')
print('acc: ', accuracy_score(y_train,y_train_hat))
print('\ntest')
print('acc: ', accuracy_score(y_test,y_test_hat))

train
acc:  1.0

test
acc:  0.9305555555555556

In [28]:
logreg.coef_

array([[ 0.32205764, -0.01519102,  0.0693738 , -0.46915544, -0.04886412,
         0.30055418,  0.45351828, -0.03075893,  0.15092773,  0.12287881,
         0.04503935,  0.47230689,  0.02314575],
       [-0.51105246, -0.48610914, -0.1088707 ,  0.17440905,  0.02457217,
        -0.03542791,  0.26251051,  0.02663158,  0.1433521 , -1.02397341,
         0.08513199, -0.02422353, -0.01354315],
       [ 0.18899482,  0.50130016,  0.0394969 ,  0.2947464 ,  0.02429196,
        -0.26512627, -0.71602879,  0.00412735, -0.29427983,  0.90109459,
        -0.13017134, -0.44808336, -0.0096026 ]])